<section id="contact" class="info-section container-fluid contact section bd-container">
     
    <div class="title-section py-2 d-flex justify-content-between align-items-center">
        <h2>Contacto</h2>
    </div>

    <div class="contact__container bd-grid">
        <div class="contact__data">
            <p class="contact__description">
                Si tienes alguna pregunta, sugerencia o simplemente deseas ponerte en contacto conmigo.
            </div>

        <div class="contact__button">
            <a href="mailto:{{ email }}" class="button">Contactar</a>
        </div>
    </div>
</section>