<app-navbar
    [isLogged]="isLogged"
    [user]="miPortfolio.user"
    (recargandoPortfolio)="cargarVista()"></app-navbar>

<app-header [user]="miPortfolio.user"></app-header>

<app-about
    [isLogged]="isLogged"
    [user]="miPortfolio.user"
    (recargandoPortfolio)="cargarVista()"></app-about>

<app-experience
    [isLogged]="isLogged"
    [userId]="miPortfolio.user.id"
    [listExperience]="miPortfolio.experience"
    (recargandoPortfolio)="cargarVista()"></app-experience>

<app-projects 
    [isLogged]="isLogged"
    [userId]="miPortfolio.user.id"
    [listProjects]="miPortfolio.project"
    (recargandoPortfolio)="cargarVista()"></app-projects>

<app-skills
    [isLogged]="isLogged"
    [userId]="miPortfolio.user.id"    
    [listSkill]="miPortfolio.skill"
    [listSoft]="miPortfolio.soft"
    (recargandoPortfolio)="cargarVista()"></app-skills>

<app-education
    [isLogged]="isLogged"
    [userId]="miPortfolio.user.id"
    [listEdu]="miPortfolio.education"
    (recargandoPortfolio)="cargarVista()"></app-education>

<app-certification
    [isLogged]="isLogged"
    [userId]="miPortfolio.user.id"
    [listCert]="miPortfolio.certifications"
    (recargandoPortfolio)="cargarVista()"></app-certification>

<app-contact [user]="miPortfolio.user"></app-contact>

<app-footer></app-footer>