<p class="app-component">
    Soy AppComponent y como el router-outlet esta dentro mio, este componente no cambiará si modificas la ruta!
  </p>
  <ul>
    <li><a routerLink="/inicio">about</a></li>
    <li><a routerLink="/contact">contact</a></li>
  </ul>
  <router-outlet></router-outlet>
  
  <footer class="footer sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Simple-Chef 2022</span>
        </div>
    </div>
</footer>