<section id="habilidades" class="info-section container-fluid">

    <!-- Modal Agregar/Editar Habilidades-->
    <div class="modal fade" id="modalHabilidades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{tituloModal}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="closeModal()"></button>
                </div>
                <div class="modal-body">

                    Cuerpo del Modal Habilidad Tecnica
                    <app-add-skill
                        [skill]="skill"
                        *ngIf="isSkill"
                        (cerrandoModal)="closeModal()">
                    </app-add-skill>

                     Cuerpo del Modal Habilidad Blanda
                    <app-add-soft
                        [softskill]="softskill"
                        *ngIf="isSoft"
                        (cerrandoModal)="closeModal()">
                    </app-add-soft>

                </div>
            </div>
        </div>
    </div>

    
        <!--HABILIDADES TECNICAS-->
        <div class="habilidadesTecnicas">

            <div class="title-section py-2 d-flex justify-content-between align-items-center">
                <h2>Habilidades técnicas</h2>
                    
                <!-- Boton modal Agregar Habilidad Tecnica-->
                <span *ngIf="!isLogged" class="edit-icon">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalHabilidades">
                        <i class="bi bi-plus-circle-fill d-flex justify-content-end" (click)="isSkill = true; abrirModalAgregar()"></i>
                    </button>
                </span>
            </div>
            <div class="hab-tecnicas m-2">

                <!--Nivel Avanzado-->
                <div class="container my-2" id="avanzado">
                    <!--Iconos -->
                    <ul class="row d-flex list-unstyled">
                        <li *ngFor="let skill of listSkill" class="col-4 col-sm-3 col-md-6 d-flex flex-column align-items-center">
                            
                            <span *ngIf="!isLogged" class="edit-icon p-1 justify-content-between">
                                <!-- Boton modal Editar Habilidad Tecnica-->
                                <button class="btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalHabilidades" (click)="isSkill = true; abrirEditarHabTecnica(skill)">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <!-- Boton modal Eliminar Habilidad Tecnica-->
                                <button type="button" class="btn btn-outline-danger" (click)="isSkill = true; deleteSkill(skill.skillId)">
                                    <i class="bi bi-x-circle-fill"></i>
                                </button>
                            </span>
                            
                            <!--Iconos-->
                            
                            <p>{{skill.skillName}} <i class="iconTecnica" [class]="skill.icon"></i></p>
                            <div [ngSwitch]="skill.proficiencyLevel">
                                <div *ngSwitchCase="'basic'">
                                  <div class="progress mt-2">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" [style.flex-grow]="0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="200"></div>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <p>Básico</p>
                                  </div>
                                </div>
                            
                                <div *ngSwitchCase="'intermediate'">
                                  <div class="progress mt-2">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <p>Intermedio</p>
                                  </div>
                                </div>
                            
                                <div *ngSwitchCase="'advanced'">
                                  <div class="progress mt-2">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <p>Avanzado</p>
                                  </div>
                                </div>
                            
                                <div *ngSwitchDefault>
                                  <div class="progress mt-2">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <p>Sin clasificar</p>
                                  </div>
                                </div>
                              </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--HABILIDADES BLANDAS-->
        <div class="habilidadesBlandas">
            <div class="title-section py-2 d-flex justify-content-between align-items-center">
                <h2>Habilidades blandas</h2>
        
                <!-- Boton modal Agregar Habilidad Blanda-->
                <span *ngIf="!isLogged" class="edit-icon">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalHabilidades" (click)="isSoft = true; abrirModalAgregar()">
                        <i class="bi bi-plus-circle-fill d-flex justify-content-end"></i>
                    </button>
                </span>
            </div>
        
            <div class="hab-blandas m-2">
                <ul class="row pt-2 d-flex list-unstyled justify-content-around align-items-center">
                    
                    <div *ngFor="let soft of listSoft" class="col-6 col-sm-3 col-md-2 d-flex flex-column align-items-center">
                        <span *ngIf="!isLogged" class="edit-icon p-1 justify-content-between">
                            <!-- Boton modal Editar Habilidad Blanda-->
                            <button class="btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalHabilidades" (click)="isSoft = true; abrirEditarHabBlanda(soft)">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <!-- Boton modal Eliminar Habilidad Blanda-->
                            <button type="button" class="btn btn-outline-danger" (click)="deleteSoftSkill(soft.softId)">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        </span>
                        
                        <p>{{soft.skillName}} <i class="iconBlanda" [class]="soft.icon"></i></p>
                    </div>
        
                </ul>
            </div>
        </div>

    
 
</section>
